<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= locals.title %></title>
	<meta name="description" content="<%= locals.description %>">
	<link rel="stylesheet" href="https://hook.jwplayer.com/jw-design-library/5.2.4/css/fonts.css">
	<link rel="stylesheet" href="https://hook.jwplayer.com/components/0.3.1/ds-components.min.css">
	<link rel="stylesheet" href="https://hook.jwplayer.com/ds-layout/1.0.6/ds-page.css">
	<link rel="stylesheet" href="../../../developers/web-player-demos/css/style.min.css">
	<% if (locals.styleContent) { %><link rel="stylesheet" href="style.css"><% } %>
	<% if (locals.stylesheets) { locals.stylesheets.forEach(s => { %><link rel="stylesheet" href="<%= s %>"><% }); } %>
</head>
<body>
<%- include(`${partialsPath}/header`); %>
<%_ if (!locals.isIndex) { _%>
	<section class="container jwux-demo">
		<header>
			<h1><%= locals.title %></h1>
			<p><%= locals.description %></p>
			<a class="github-badge" href="https://github.com/jwplayer/jwdeveloper-demos/tree/develop/demos/<%= locals.slug %>"><img src="https://img.shields.io/badge/source%20code-github-green" alt="github"></a>
		</header>
<%_ } -%>
